<!DOCTYPE html>
    <%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
        <main>
            <div>
                <h1>Sobre mim</h1>
                <p>Oi sou o João Marangoni aluno da RocketSeat e estou me divertindo muito aprendendo sobre EJS</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>